[submodule "Drivers/STM32WLxx_HAL_Driver"]
	path = Drivers/STM32WLxx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32wlxx_hal_driver.git
	branch = main
[submodule "Drivers/CMSIS/Device/ST/STM32WLxx"]
	path = Drivers/CMSIS/Device/ST/STM32WLxx
	url = https://github.com/STMicroelectronics/cmsis_device_wl.git
	branch = main
